# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Probleminstances
**/Release/
**/EURO/
**/MISTA/
**/results/
**/exp/
!**/exp/sched1.par
!**/exp/ga1.par
!**/exp/decomp1.par
*.dat

log.txt
